body {
      position: relative; 
      
  }
  #section1 {padding-top:50px;height:300px;color: #fff; background-color: #fff;}
  #ride-form {padding-top:50px;height:300px;color: #fff; background-color: #f8e11c;}
  #section3 {padding-top:50px;height:500px;color: #fff; background-color: #ff9800;}
  #section41 {padding-top:50px;height:500px;color: #fff; background-color: #00bcd4;}
  #ride-form {padding-top:50px;height:500px;color: #fff; background-color: #009688;}
  .activated
  {
  	background: cyan;
  	color:black;
  }

